{% extends "base.html" %}
{% block content %}
{% load static %}
<body class="bg-blue-200 ">
<div class="flex flex-row ">
    <div class="w-[20%] h-screen from-blue-600 to-blue-300 bg-gradient-to-r">
        {% include 'partials/left_navbar_board.html' %}
    </div>
    <div class="bg-white h-auto w-[80%] pb-10">
        <div class="w-[95%]  m-auto">
            <form method="POST" class="mt-10 flex flex-col w-[80%]">{% csrf_token %}
                <div class="h-[60px] mt-10 flex flex-row">
                    {% if user.pfp %}
                    <img src="{% static user.pfp.url %}" class="profile-picture">
                    {% else %}
                    <img src="{% static 'images/default.png' %}" class="profile-picture">
                    {% endif %}
                    <span class="ArimoBold mt-[9px] ml-2 text-[14px]"> {{user.fname|default_if_none:""|title}} {{user.mname|default_if_none:""|slice:":1"|upper}}. {{user.lname|default_if_none:""|title}} | Discussion Board</span>
                </div>
                <p> <input  class="create-board-title mt-4" name="disc_title" type="text"  placeholder="Discussion Title" value=""  required></p>
                <p> <textarea class="textarea-style mt-12 border-2 border-black w-full h-[150px]" name="disc_description" placeholder="Description" required></textarea></p>
                
                <button type="submit" class="ml-auto mt-12"><p class="ArimoBold">Post Discussion</p></button>
            </form>
        </div>
    </div>
</div>



{% endblock %}